// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-shell {
   order: 4;
   width: 65vw;
   max-width: 65vw;
   height: 87vh;
   max-height: 100vh;
   // border: 1px solid yellow;
   background-color: #404349;
   overflow-y: scroll;
}
.message-shell-outside {
   order: 4;
   height: 87vh;
   max-height: 100vh;
}
.message-list {
   display: flex;
   flex-direction: row;
}
.message-author {
   color: ivory;
   font-size: 18px;
   margin-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
}
.user-img-icon {
   max-width: 40px;
   max-height: 40px;
}

.user-img {
   width: 40px;
   height: 40px;

   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   overflow: hidden;
}

.user-img-wrapper {
   padding: 5px;
}

.message-body {
   color: ivory;
   max-height: fit-content;
   max-width: inherit;
   word-break: break-all;
   line-height: 20px;
}

.message-outside {
   display: flex;
   flex-direction: column;
   padding-bottom: 10px;
   padding-left: 10px;
}
.message-container {
   background-color: #404349;
   height: 6vh;
   width: 64vw;
   max-width: 64vw;
   padding: 0;
   margin: 0;
   padding-top: 1vh;
   padding-left: 2vh;
}
.message-input-box {
   height: 5vh;
   width: 62vw;
   max-width: 62vw;
   padding: 0;
   padding-left: 1vw;
   
   margin: 0;

   border-width: 0;
   border-radius: 5px;
   outline: none;
   background-color: #5d6169;
   color: ivory;
   word-wrap: break-word;
   overflow-y: scroll;
}

::placeholder {
   color: ivory;
   font-style: italic;
}

/**************************************/

.users-show {
   height: 94vh;
   overflow: scroll;
   width: 15vw;
   order: 5;
   background-color: rgb(51, 55, 59);   
   display: flex;
   flex-direction: row;
}
.user-show {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 10px;
   width: inherit;
   border-radius: 8px;
   margin-top: 5px;
}
.user-show:hover {
   background-color: #404349;
   cursor: pointer;
   margin-left: 5px;
   margin-top: 2px;
}
.server-messages-members {
   order: 2;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}
.inside-smm {
   display: flex;
   flex-direction: row;
   margin: 0;
   padding: 0;
}

.banner-outside {
   border-bottom: 1px solid black;
   height: 3.4vh;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   background-color: #404349;
   display: flex;
   flex-direction: row;
}

.banner-title {
   margin-left: 25px;
   height: inherit;
   display: inline-block;
   text-align: center;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: 550;
}

.social-links-container {
   width: 70vw;
   text-align: end;
}

.social-links {
   display: inline-block;
   margin-inline: 10px;
   padding: 5px;
   border-radius: 5px;
}

.social-links:hover {
   cursor: pointer;
   background-color: #53575f;
}