.server-show-outside {
   display: flex;
   flex-direction: column;
   order: 1;
   padding-left: 0px;
   padding-right: 10px;
   color: blanchedalmond;
   background-color: rgb(51, 55, 59);   
   height: 100vh;
   width: 160px;
   padding-right: 0;
}