// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-update-modal {
    /* height: 39%; */
    /* width: 200px; */
    padding: 10px;
    display: flex;
    background: #4b5055;
    border-radius: 7px;
}

.change-username {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

p.username {
    margin-bottom: 5px;
}