/* body {
  background-color: #2e3034 ;
} */


div {
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a {
  display: block;
  font-size: 14px;
  color: #7289da;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}
