.ibc-h, .ibc{
   border-radius: 100px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #363a3e
}
.ibc {
   border-radius: 50%;
}
.ibc-h:hover {
   background: #506cd1;
   border-radius: 35%;
   transition: .25s;
}
.ibcs{
   background: #506cd1;
   border-radius: 35%;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}
.ibt {
   padding: 10px;
   font-size: 80%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.serverPhoto {
   width: 110%;
   height: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ibi, .ibi > img {
   height:inherit;
   width:inherit;
}

#animatepls > img {
   animation : spin 2s linear 10;
}

#link:hover {
  cursor: pointer;
}