.header{
   display: grid;
   grid-template-columns: 6fr 33fr;
   grid-template-areas: "ht hc";
   border-bottom: 1px solid black;
}
.ht{

   background:#2e3236;
   grid-area: ht;
   display: flex;
   align-content: center;
}
.ht:hover {
   cursor: pointer;
   background-color: #393d42;
}
.htt{
   align-self: center;
   margin-left: 15px;
   font-size: 20px;
}
.httt{
   align-self: center;
   margin-left: 15px;
   font-size: 18px;
   grid-area: channel_name;
}
.hc{
   background: #363a3e;
   grid-area: hc;
   display: grid;
   grid-template-columns: 200px auto 250px;
   font-style: italic;
   grid-template-areas: "channel_name empty button_menu";
}
.headerbuttonscontainter {
   grid-area: button_menu;
   align-self: center;
   display: flex;
   flex-direction: row;
}
.min-icon {
   height: 30px;
}
.min-icon:hover {
   cursor: pointer;
}

.loading {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}