.inputtextSlate {
   min-width: 125px;
   align-self: center;
   padding: 5px;
   -webkit-box-shadow: inset 0px 0px 2px 1px rgb(54, 58, 62);
   box-shadow: inset 0px 0px 2px 1px rgb(54, 58, 62);
   background: #74808d;
}