.session-outside {
   display: flex;
   width: 100vw;
   height: 100vh;
   align-items: center;
   justify-content: center;
   background-size: cover;
}
.session-form {
   color: white;
   width: 550px;
   height: 325px;
   margin: auto; 
   justify-content: center;

   display: flex;
   background-color: #36393f ;
   box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.63);
   border-radius: 5px;
}

.form-header {
   font-size: 24px;
   /* text-rendering: optimizeLegibility; */
   font-weight: 550;
   text-align: center;
   margin-top: 18px;
   margin-bottom: 10px;
}
p.session-input-label {
   text-align: center;
}
.session-input-label {
   font-size: 12px;
   color: #8e9297;
}

.session-input-label > input {
   margin-top: 7px;
   font-size: 16;
   font-family: Arial, Helvetica, sans-serif;
   height: 20px;
   width: 400px;
   margin-bottom: 10px;
   background-color: #22282c;
   background-color: rgba(47, 51, 56, 1);
   border: 1px solid rgba(0, 0, 0, 0.486);
   color: white;
   border-radius: 3px;
}
.session-input-label > input:focus {
   border:1px solid #7289da;
   outline-width: 0;
}
.session-button {
   height: 30px;
   width: 407px;
   background-color: rgba(110, 136, 224, 1);;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 16;
   border-radius: 5px;
   border-style: solid;
   border-color: rgb(255, 255, 255);
   border: 0px solid rgb(255, 255, 255);

}
.session-button:hover {
   background-color: #506cd1;
}

.session-links {
   width: fit-content;
   text-decoration: none;
}
a {
   width: fit-content;
   font-size: 14px;
   margin-bottom: 10px;
}