.testing{
   background-color: chartreuse;
   height: 100vh;
   width: 100vw;
}

.modal{
   position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
   display: flex;
   align-content: center;
   justify-content: center;
}
.modalcontent{
   z-index: 5;
   display: flex;
   align-content: center;
   justify-content: center;
}
.inputform {
   background: #262525;
   border-radius: 10px;
   border: 1px solid #2d3536;
   padding: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.modalinputtext {
   margin-top: 5px;
}
.inputformrow {
   display: flex;
   flex-direction: row;
   align-content: center;
   padding: 5px;
}
.inputformsection {
   margin-right: 5px;
   padding: 5px;

   border-radius: 10px;
}
.modalbuttonrow {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
}
.modalbutton {
   background-color: #7289da;
   padding: 6px;

   border-radius: 10px;;
   font-size: 14px;
   margin-right: 5px;
}
.modalbutton:hover {
   cursor: pointer;
   background-color: #677bc4;
}

#highlight-grey:hover {
   background-color: rgba(255, 255, 255, 0.192);
   cursor: pointer;
}
#highlight:hover {
   background-color: #677bc4;
   cursor: pointer;
}
