.server-index-container {
   background-color: rgb(32, 34, 37);
   position: absolute;
   left: 0;
   height: 100vh;
   width: 80px;
   display: flex;
   flex-direction: column;
   color: aquamarine;
   overflow-x: hidden;
   overflow-y: scroll;
}
.index-separator {
   width: 40px;
   height: 2px;
   background-color: rgba(255, 255, 255, 0.144);

   align-self: center;
   margin-top: 15px;
   margin-bottom: 5px;
}
.logout-button {
   position: relative;
   left: 120px;
   float: left;
}

.server-image-text {
   overflow-x: hidden;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   white-space: nowrap;
   word-spacing: 0.5px;
}

.server-image {
   overflow-x: hidden;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   cursor: pointer;
   max-width: 140%;
   max-height: 140%;
}
.server-image-logout {
   overflow-x: hidden;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   cursor: pointer;

   max-width: 65%;
   max-height: 65%;
}
.server-image-wrapper:hover {
   transition: 0.15s;
   border-radius: 30%;
   cursor: pointer;
}
.selected-server-wrapper{
   margin-top: 15px;
   margin-left: 15px;
   overflow: hidden;
   height: 48px;
   width: 48px;
   justify-content: center;
   position: relative;
   border: 0.5px solid rgba(255, 255, 255, 0.336);
   border-radius: 30%;
   cursor:pointer;
}
.server-image-wrapper{
   // background-color: rgb(67, 72, 78);
   margin-top: 15px;
   margin-left: 15px;
   overflow: hidden;
   height: 48px;
   width: 48px;
   justify-content: center;
   position: relative;
   border-radius: 50%;
   border: 0.5px solid rgba(255, 255, 255, 0.336);
}


.server-bg {
   height: 48px;
   width: 48px;
   background-color: rgb(51, 55, 59);
}
.selected-server-wrapper > .server-bg{
   height: 48px;
   width: 48px;
   background-color: #506cd1;
}
.server-bg:hover {
   background-color: #506cd1;
}

