.container-hm {
   display: grid;
   height: 100vh;
   width: 100vw;
   grid-template-columns: 3fr 6fr 33fr 0fr;
   grid-template-rows: 2fr 22fr 2fr;
   grid-template-areas: 
   "sidebar header header header"
   "sidebar server messages members"
   "sidebar server input members"
}
.header{
   grid-area: header;
}

.server {
   background-color: #2e3236;
   grid-area: server;
}
.messages {
   grid-area: messages;
}
.members {

   grid-area: members;
}
.container-hm > .members {
   display:none;
}
.input {
   grid-area: input;
}